.list {
  width: 100%;
  overflow: hidden;
  padding: 0 2rem;
  @media only screen and (max-width: 900px) {
    .list-row {
      height: auto;
    }
  }
  &:hover .list-row-arrow {
    opacity: 1;
  }
  .list-title {
    padding-top: 2rem;
    color: var(--title-color);
  }
  .list-row {
    display: flex;
    flex-direction: row;
    padding: 1.25rem 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list-row-arrow {
    background: transparent;
    height: 25vh;
    display: flex;
    opacity: 0;
    font-size: 4rem;
    position: absolute;
    top: 1/2;
    color: white;
    margin-top: 1.25rem;
    z-index: 999;
    transition: all ease 0.5s;
    align-items: center;
    cursor: pointer;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
      margin-right: 0.9rem;
    }
  }
}
