.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  margin: 0rem auto;
  padding: 1.5rem 0;
  color: #757575;
  ul {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-self: center;
    margin-right: 5rem;
    list-style: none;
    li {
      margin: 0.5rem;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    width: 100vw;
    text-align: center;
    ul {
      margin: 0 auto;
    }
  }
}
