:root {
  --main-color: #0b0b0b;
  --bcg-color: #111;
  --text-color: #999;
  --title-color: #fff;
}

body {
  overflow-x: hidden;
  line-height: 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--bcg-color);
}

.app {
  background-color: var(--main-color);
}
